{% extends 'main/base.html' %}
{% block content %}
<div class="mt-5">
    {% if message %}

        <div class="row alert alert-warning alert-dismissible" role="alert">
            <a class="close" href="#" data-dismiss="alert">×</a>
               {{ message }}
        </div>

    {% endif %}
    <div class="row d-flex justify-content-center">
        <h3>Register</h3>
    </div>
</div>
<div class="mt-3">
    <div class="row d-flex justify-content-center">
        <form method="post">
            <div class="input-group mb-3">
                <input name="email" placeholder="Email address" type="email" class="form-control" id="email" aria-describedby="email">
            </div>
            <div class="input-group mb-3">
                <input name="username" placeholder="Username" type="text" class="form-control" id="username" aria-describedby="username">
            </div>
            <div class="input-group mb-3">
                <input name="password1" placeholder="Password" type="password" class="form-control" id="password1" aria-describedby="password1">
            </div>
            <div class="input-group mb-3">
                <input name="password2" placeholder="Re-enter password" type="password" class="form-control" id="password2" aria-describedby="password2">
            </div>
            <div class="input-group mb-3">
                <input name="espn_id" placeholder="ESPN ID" type="text" class="form-control" id="epsnId" aria-describedby="epsnId">
            </div>
            {% csrf_token %}
            <div class="d-flex justify-content-center">
                <button class="text-cente btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="row d-flex justify-content-center">
        <ul>
            <li>
                <a href="{% url 'login' %}">Return to Login</a>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}
